/* src/App.css */

.App {
  text-align: center;
}

h2 {
  color: #333;
}

input {
  margin-right: 8px;
}

ul {
  width : 100%;
  list-style-type: none;
  padding: 0;
  height: 100%;
  
  display :flex;
  align-items: center;
  justify-content: center;
}


#all{
  height: 100%;
  
  flex-direction: column;
  display :flex;
  align-items: center;
  justify-content: center;

}
#sizes{
  width:50%;
  height: 100%;
 
}
#text{
  width: 60%;
}
#size{
  width:100%;
}
#bigdiv{
  width: 100%;
  
}
#add{
  background-color: #e21e1e;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
}
#add:hover {
  background-color: #b70000;
}
#text{
  width:50%;
}
#edit{
  background-color: #218500;
  color: white;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}
#edit:hover {
  background-color: #2d6919;
}
#delete{
  background-color: #e21e1e;
  color: white;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}
#delete:hover {
  background-color: #b70000;
}

img {
  width: 200px;

}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image:'url(/img/bikinicity.png)';
  color: rgb(81, 81, 81);
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}

nav a {
  color: rgb(141, 141, 141);
  text-decoration: none;
}

section {
  padding: 2rem;
  text-align: center;
}

footer {
  height: 200px;
  color: rgb(130, 130, 130);
  padding: 1rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
#banner{
  width : 1000px;
}